{
  "extends": [
    "hardcore"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "strict": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "no-magic-numbers": "off"
  }
}
